/*
  |============================
  | Book list styles
  |============================
*/
.books-part {
  width: 335px;
}
.book-categories-container {
  position: relative;
}
.books-part-title {
  margin-bottom: 40px;
  color: var(--black-cl);
  font-style: normal;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
}
.books-part-title-span {
  color: var(--violet-cl);
}
.book-category-container {
  display: flex;
  flex-direction: column;
}
.book-category-container:not(:last-child) {
  margin-bottom: 40px;
}
.book-category-wrapper {
  display: flex;
}
.book-category-title {
  margin-bottom: 18px;
  color: var(--gray-cl);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.book-cards-list {
  display: flex;
  row-gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;
  column-gap: 25px;
}
.book-cards-list-one-category {
  flex-wrap: wrap;
}
.book-cards-list-item {
  width: 335px;
  cursor: pointer;
}
.book-cards-list-item:not(:first-child) {
  display: none;
}
.book-card-img {
  min-width: 320px;
  height: 485px;
  margin-bottom: 14px;
  border-radius: 8px;
}
.book-card-title {
  overflow: hidden;
  margin-bottom: 4px;
  color: var(--black-cl);
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.book-card-author {
  overflow: hidden;
  color: var(--gray-cl);
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.see-more-btn {
  min-width: 124px;
  margin-left: auto;
  padding: 14px 26px;
  border: 2px solid var(--violet-cl);
  border-radius: 40px;
  color: var(--black-cl);
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  transition: background-color var(--main-transition-function),
    var(--main-transition-function);
}
.body-dark-theme .see-more-btn {
  background-color: var(--dark-theme-bg-cl);
  color: var(--white-cl);
}
.body-dark-theme .books-part-title {
  color: var(--white-cl);
}
.body-dark-theme .book-card-title {
  color: var(--white-cl);
}
@media only screen and (min-width: 768px) {
  .books-part {
    width: 704px;
  }
  .books-part-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .book-category-title {
    line-height: 1.71;
  }
  .book-cards-list {
    margin-bottom: 20px;
  }
  .book-cards-list-item {
    width: 218px;
  }
  .book-card-img {
    min-width: 218px;
    height: 316px;
  }
  .book-cards-list-item:nth-child(-n + 3) {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  .book-cards-list-item {
    position: relative;
    transition: transform var(--main-transition-function);
  }
  .book-cards-list-item:hover{
    transform: scale(1.1);
  }
  .book-card-hover {
    width: 180px;
    height: 70px;
    opacity: 0;
    pointer-events: none;
    background: #eac645;
    border-radius: 0 0 8px 8px;
    padding: 26px 0;
    transition: opacity var(--main-transition-function);
    position: absolute;
    top: 186px;
    left: 0;
  }
  .book-card-hover p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .book-cards-list-item:hover .book-card-hover {
    opacity: 1;
  }
  .books-part {
    width: 996px;
  }
  .book-cards-list {
    column-gap: 24px;
    margin-bottom: 32px;
  }
  .book-cards-list-item {
    width: 180px;
  }
  .book-card-img {
    min-width: 180px;
    height: 256px;
  }
  .book-cards-list-item:nth-child(n) {
    display: block;
  }
  .see-more-btn:hover,
  .see-more-btn:focus {
    background-color: var(--violet-cl);
    color: var(--white-cl);
  }
}
.books-not-found-wrapper {
  background: var(--support-Ukraine-bg);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.books-not-found-message {
  padding: 16px;
  text-align: center;
  color: var(--white-cl);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  font-style: normal;
  text-transform: capitalize;
}
.books-not-found-img {
  margin: 0 auto;
}
