.popup-modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--book-list-light-theme-cl);
  z-index: 10000;

  overflow: hidden;
}
.popup-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup {
  width: 335px;
  /* max-height: 90vh; */
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  border: 2px solid var(--black-cl);
  background: var(--white-cl);
}

.popup-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-icon-close {
  stroke: var(--black-cl);
  position: absolute;
  transform: translate(-50%, -50%);
}
.popup-icon-close:hover,
.popup-iconclose:focus {
  stroke: var(--violet-cl);
}
.popup-create-markup {
  /* height: 636px; */
  padding: 40px 24px 0 24px;
  list-style: none;
  display: block;
  gap: 24px;
}
.popup-image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  padding-bottom: 14px;
}

.popup-book-title {
  color: var(--black-cl);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.64px;
  padding-bottom: 4px;
}
.popup-book-author {
  color: var(--gray-cl);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  padding-bottom: 18px;
  font-style: italic;
  font-weight: 400;
}
.popup-book-description {
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: -0.56px;
  font-family: DM Sans;
  font-style: normal;
}
.popup-links {
  padding-top: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.popup-link-img {
  filter: grayscale(100%);
}
.popup-link-img:hover {
  filter: grayscale(0%);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.popup-btn-add-remove {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 14px 20px;
  background-color: inherit;
  border: 2px solid var(--black-cl);
  border-radius: 40px;
  font-weight: 900;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--title-color);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-btn-add-remove:hover,
.popup-btn-add-remove:focus {
  color: white;
  background-color: var(--violet-cl);
  transform: scale(1.03);
}
.popup-add-message {
  max-width: 324px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--title-color);
  opacity: 50%;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 375px) {
  .popup {
    padding-bottom: 40px;
  }
  .popup-btn-add-remove {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .popup {
    width: 579px;
  }
  .popup-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 28px;
    width: 28px;
  }
  .popup-image {
    width: 192px;
    height: 281px;
    border-radius: 8px;
  }
  .popup-create-markup {
    height: 281px;
    padding: 40px;
    list-style: none;
    display: flex;
  }
  .popup-book-author {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .popup-book-description {
    font-size: 14px;
    line-height: 1.3;
  }

  .popup-links {
    padding-top: 20px;
  }
  .popup-btn-add-remove {
    padding: 20px 150px 20px 150px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: -0.18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    width: 499px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid var(--black-cl);
    background-color: transparent;
    cursor: pointer;
  }
}
@media only screen and (max-width: 350px) {
  .modal {
    width: calc(100% - 30px);
  }
}

.body-dark-theme .popup {
  background-color: var(--dark-theme-bg-cl);
  border-color: var(--white-cl);
}
.body-dark-theme .popup-icon-close {
  stroke: var(--white-cl);
}
.body-dark-theme .popup-book-title,
.body-dark-theme .popup-book-description {
  color: var(--white-cl);
}
.body-dark-theme .amazon-icon {
  filter: brightness(0) invert(1);
}
.body-dark-theme .amazon-icon:hover,
.body-dark-theme .apple-icon:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
.body-dark-theme .apple-icon {
  filter: grayscale(100%);
}
.body-dark-theme .popup-btn-add-remove {
  border-color: var(--violet-cl);
  color: var(--white-cl);
}
.body-dark-theme .popup-add-message {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (orientation: landscape) {
  .popup-backdrop {
    overflow-y: auto;
  }
  .popup {
    transform: translate(-50%, -22%);
  }
}
@media only screen and (max-height: 805.98px) {
  .popup-backdrop {
    overflow-y: auto;
  }
  .popup {
    transform: translate(-50%, -40%);
  }
}
