.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--book-list-light-theme-cl);
  z-index: 1000;

  overflow: hidden;
}
.popup-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup {
  /* position: absolute; */
  position: fixed;
  overflow: hidden;

  pointer-events: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  padding: 40px 24px;
  border-radius: 18px;
  border: 2px solid var(--black-cl);

  background: var(--white-cl);
}
.popup-btn-close {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}
.popup-icon-close {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black-cl);
}
.popup-create-markup {
}
.popup-image {
  margin-bottom: 14px;
}
.popup-book-title {
  color: var(--black-cl);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}
.popup-book-author {
  color: var(--gray-cl);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: -0.048em;
  margin-bottom: 18px;
}
.popup-link-img {
  filter: grayscale(100%);
}
.popup-btn-add-remove {
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--violet-cl);
  margin-bottom: 8px;
}
.popup-add-message {
  color: rgba(17, 17, 17, 0.5);
  width: 242px;
  text-align: center;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2%;
  letter-spacing: -0.04em;
}
