/*
  |============================
  | Sidebar styles
  |============================
*/
/* Mobile devices styles */
/*
  |============================
  | Categories list styles
  |============================
*/
/* Mobile devices styles */
.categories-list-wrapper {
  overflow-y: scroll;
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  width: 335px;
  height: 228px;
}
.categories-list {
  width: 307px;
  color: var(--book-list-light-theme-cl);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
}
.categories-list-item {
  cursor: pointer;
  transition: color var(--main-transition-function);
}
.body-dark-theme .categories-list {
  color: var(--book-list-dark-theme-cl);
}

.categories-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.categories-list-item.active {
  color: var(--violet-cl);
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.body-dark-theme .categories-list-item.active {
  color: var(--yellow-cl);
}
/* Tablet and desktop screen styles */
@media only screen and (min-width: 768px) {
  .categories-list-wrapper {
    height: 474px;
    width: calc(50% - 16px);
  }
  .categories-list {
    width: 309px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .categories-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .categories-list-wrapper {
    width: 100%;
  }
  .categories-list {
    width: 328px;
  }
  .body-dark-theme .categories-list-item:hover {
    color: var(--yellow-cl);
  }
 
  .categories-list-item:hover,
  .categories-list-item:focus {
    color: var(--violet-cl);
    letter-spacing: -0.36px;
  }
}

/*
  |============================
  | Custom scrollbars styles
  |============================
*/
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background-color: var(--book-list-light-theme-cl);
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  background: var(--support-Ukraine-bg);
  border-radius: 12px;
  height: 167px;
}

.categories-list-wrapper::-webkit-scrollbar {
  width: 8px;
}
.categories-list-wrapper::-webkit-scrollbar-track {
  background-color: var(--book-list-light-theme-cl);
  border-radius: 12px;
}
.categories-list-wrapper::-webkit-scrollbar-thumb {
  background: var(--support-Ukraine-bg);
  border-radius: 12px;
  height: 167px;
}
