/*
  |============================
  | Sidebar styles
  |============================
*/
/* Mobile devices styles */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 335px;
  margin: 0 auto;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    gap: 32px;
    min-width: 704px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    gap: 86px;
    float: left;
    min-width: 356px;
  }
}
/*
  |============================
  | Categories list styles
  |============================
*/
/* Mobile devices styles */
.categories-list {
  overflow-y: scroll;
  max-height: 228px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
}
.categories-list-item {
  cursor: pointer;
}
.categories-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.categories-list-item.active,
.categories-list-item:hover,
.categories-list-item:focus {
  color: var(--violet-cl);
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
/* Tablet and desktop screen styles */
@media only screen and (min-width: 768px) {
  .categories-list {
    max-height: 474px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .categories-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .categories-list-item.active,
  .categories-list-item:hover,
  .categories-list-item:focus {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}
