.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.shopping-container {
  display: block;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.shopping-title {
  color: var(--black-cl);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.28px;
  font-size: 32px;
  line-height: 38px;
  margin-top: 40px;
}

.trash-delete {
width: 16px;
height: 16px;
}


@media screen and (min-width: 768px) {
.trash-delete {
    width: 18px;
    height: 18px;
  }

.shopping-title {
  font-size: 48px;
  line-height: 52px;
}

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .shopping-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .shopping-container {
    max-width: 1440px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.shopping-article {
  display: none;
}

.shopping-title-span {
  color: #4f2ee8;
}

.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-card {
  position: relative;
  display: flex;
  column-gap: 14px;
  max-width: 335px;
  height: 170px;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
}

.shopping-image {
  min-width: 100px;
  height: 142px;
  border-radius: 8px;
}

.shopping-info {
  height: 100%;
}

.book-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-category {
  color: var(--gray-cl);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
}

.book-desc {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-top: auto;
  position: absolute;
  bottom: 14px;
}

.delete-book {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--violet-cl);
  cursor: pointer;
}

.delete-logo {
  width: 16px;
  height: 16px;
}

.extra-logo {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 16px;
  bottom: 14px;
  right: 14px;
}

.amazon {
  width: 32px;
  height: 11px;
  filter: grayscale(100%);
}
.amazon:hover {
  cursor: pointer;
  filter: grayscale(100%) drop-shadow(0 1mm 1mm rgb(192, 192, 192));
}

.apple {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
}

.apple:hover {
  cursor: pointer;
  filter: drop-shadow(0 1mm 1mm rgb(192, 192, 192));
}

/* TABLET */
@media screen and (min-width: 768px) {
  .shopping-card {
    max-width: 704px;
    height: 213px;
    padding: 24px;
  }

  .shopping-image {
    min-width: 116px;
    height: 165px;
  }

  .book-category {
    margin-bottom: 14px;
  }

  .extra-logo {
    bottom: 24px;
    right: 24px;
  }

  .delete-book {
    width: 34px;
    height: 34px;
    top: 24px;
    right: 24px;
  }

  .delete-logo {
    width: 18px;
    height: 18px;
  }

  .book-author {
    bottom: 24px;
  }

  .amazon {
    width: 48px;
    height: 15px;
  }

  .apple {
    width: 28px;
    height: 28px;
  }
}

/* DESCKTOP */
@media screen and (min-width: 1280px) {
  .shopping-card{
    min-width: 996px;
  }
  .shopping-section {
    display: flex;
    column-gap: 40px;
  }

  .shopping-article {
    display: block;
    min-width: 356px;
    height: 474px;
    border-radius: 16px;
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      var(--violet-cl) 18.03%,
      var(--white-cl) 100%
    );
    box-shadow: 0px 10px 10px 0px var(--support-Ukraine-box-shadow);
  }
}

/*! ПОРОЖНЯ СТОРІНКА */
@media screen and (min-width: 1280px) {
  .shopping-section-none {
    display: flex;
    column-gap: 40px;
  }

  .shopping-wrap-none {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1020px;
  }

  .container-none-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1020px;
  }

}

.container-none-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Загальний контейнер в якому текст і картинка */

/* Більша картинка */
.image-big {
  display: none;
}

/* Більша картинка */

/* Меньша картинка */
.image-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 198px;
}

/* Меньша картинка */

/* текст */
.shopping-text-none {
  color: var(--book-list-light-theme-cl);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}

/* текст */

/* Заголовок */
.shopping-title-none {
  color: var(--black-cl);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.28px;
  align-self: flex-start;
  margin-top: 40px;
}

.shopping-title-span-none {
  color: #4f2ee8;
}

/* заголовок */

@media screen and (min-width: 768px) {
  .image-small {
    display: none;
  }

  .image-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 241px;
  }

  /* текст */
  .shopping-text-none {
    color: var(--book-list-light-theme-cl);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3333;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
  }
/* текст */
  
}


/* ..::PAGINATION::.. */

.tui-pagination{
margin-top: 40px !important;
margin-bottom: 40px !important;
}

.tui-pagination .tui-page-btn{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  transition: transform 0.2s;
}

.tui-pagination .tui-page-btn:hover {
  transform: scale(1.1);
}

.tui-page-btn {
border-radius: 50%;
min-width: 38px;
  min-height: 38px;
  margin-right: 10px !important;
  line-height: 22px !important;
  border: 1px solid #000 !important;
}

/* arrows << < > >> */
.tui-is-disabled {
  border-radius: 50%;
}

/* arrow left  styles*/
.tui-first{
  color: var(--white-cl);
  background-color: var(--black-cl);
  margin-right: 8px !important;
}
.tui-prev{
  color: var(--white-cl);
background-color: var(--black-cl);
    margin-right: 24px !important;
}

.tui-ico-first{
  background-position: -13px 0px !important;
}

.tui-ico-prev {
background-position: -26px -12px !important;
}

/* button page */
.tui-is-selected{
background-color: var(--black-cl)!important;
}


/* arrow right  styles*/
.tui-next{
margin-left: 14px!important;
margin-right: 8px!important;
background-color: var(--yellow-cl);
}
.tui-last{
background-color: var(--yellow-cl);
}

.tui-ico-next{
  background-position: -13px -24px !important;
}
.tui-ico-last{
  background-position: 0px -12px !important;
}

@media screen and (min-width: 768px){
.tui-page-btn{
  min-width: 44px;
    min-height: 44px;
}
}
/* END PAGINATION */