.form-hidden {
  background-color: var(--violet-cl);
  z-index: 10000;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.registration-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 579px;
  height: 516px;
  background: var(--light-theme-bg-cl);
  border: 2px solid var(--black-cl);
  border-radius: 18px;
}

/* Form Styling */
.form {
  width: 500px;
  padding-top: 80px;
  margin: auto;
  margin-bottom: 20px;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}

.input-container {
  position: relative;
}

.form-input {
  width: 100%;
  height: 64px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid var(--black-cl);
  border-radius: 40px;
}

.form-input::placeholder {
  color: var(--black-cl);
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}

.form-icon {
  position: absolute;
  top: 20px;
  right: 32px;
}

/* Form Buttons */
.form-main-btn {
  width: 100%;
  padding: 20px 173px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  background: var(--black-cl);
  border: none;
  border-radius: 40px;
  transition: background-color 200ms linear, transform 200ms linear;
}

.form-main-btn:hover,
.form-main-btn:focus {
  background-color: var(--violet-cl);
  transform: scale(1.03);
}

.form-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-btns button {
  outline: 0;
  border: 0;
  background: 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: var(--book-list-light-theme-cl);
  transition: color 200ms linear, transform 200ms linear;
}

.form-btns button:hover,
.form-btns button:focus {
  color: var(--violet-cl);
  transform: scale(1.1);
  text-decoration-line: underline;
}

.form-btns .active-btn {
  color: var(--violet-cl);
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  outline: 0;
  border: 0;
  background: 0 0;
}

.close-icon {
  stroke: var(--black-cl);
}

.close-icon:hover,
.close-icon:focus {
  stroke: var(--violet-cl);
}

.body-dark-theme .registration-window{
  background: var(--black-cl);
  border-color: var(--white-cl);
}
.body-dark-theme .input-container{
  background-color: var(--black-cl);
}
.body-dark-theme .form-input{
  background-color: var(--black-cl);
border-color: var(--white-cl);
color: var(--white-cl);
}
.body-dark-theme .form-btns button{
  color: var(--accent);
}
.body-dark-theme .form-btns .active-btn {
  color: var(--violet-cl);
}
.body-dark-theme .form-icon {
  stroke: var(--white-cl);
}
.body-dark-theme .close-icon{
  stroke: var(--white-cl);
}
.body-dark-theme .form-input::placeholder{
  color: var(--white-cl);
}
.body-dark-theme .form-main-btn{
  background-color: var(--white-cl);
  color: var(--black-cl);
}
.body-dark-theme .sign-in-btn:hover{
  color: var(--violet-cl);
  transform: scale(1.1);
  text-decoration-line: underline;
}
/* Media Queries */
@media (max-width: 768px) {
  .registration-window {
    width: 95%;
  }

  .form {
    width: 87%;
  }

  .form-main-btn {
    padding: 20px;
  }
}