/* Стилі для блоку "Support Ukraine" */
.support-ukraine {
  width: 356px;
  height: 474px;
  background-color: #4f2ee8;
  position: relative;
  border-radius: 10px; /* Додаємо заокруглені кути */
  overflow: hidden; /* Запобігаємо виходженню контенту за межі блоку */
}

.color-support {
  color: #ffffff;
}

/* Світлі плями понизу блоку */
.support-ukraine::before,
.support-ukraine::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.support-ukraine::before {
  left: 0;
}

.support-ukraine::after {
  right: 0;
}

/* Стилі для списку елементів */
.support-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto; /* Включаємо вертикальний скролінг, якщо потрібно */
}

/* Стилі для кожного елемента списку */
.li-support {
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

/* Підсвічування виділеного елемента */
.highlighted {
  border-radius: 1px;
  box-shadow: 0 0 0 1px #ffffff;
}
