<div class="popup-backdrop is-hidden" data-modal>
    <div class="popup">
        <button class="popup-btn-close" type="button" data-popup-close>
            <svg class="popup-icon-close" width="12" height="12">
                <use href="./img/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="popup-create-markup"></div>
        <button class="popup-btn-add-remove" type="button">Add to shopping list</button>
        <p class="popup-add-message">Congratulations! You have added the book to the shopping list.
            To delete, press the button "Remove from the shopping
            list".</p>
    </div>
</div>