<div class="popup-backdrop is-hidden" data-modal>
    <div class="popup">
        <button class="popup-btn-close" type="button" data-popup-close>
            <svg class="popup-icon-close" width="12" height="12">
                <use href="./img/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="popup-create-markup">
            <img src="" class="popup-image" />
            <h2 class="popup-book-title">book Title</h2>
            <p class="popup-book-author">book Author</p>
            <p class="popup-book-description">book description</p>
            <div class="popup-links">
                <a href="#"><img class="popup-link-img" target="_blank" src="./img/modal-shop/amazon@1x.png"
                        srcset="./img/modal-shop/amazon@1x.png, ./img/modal-shop/amazon@2x.png"
                        alt="link to amazon" /></a>
                <a href="#"><img class="popup-link-img" target="_blank" src="./img/modal-shop/apple-books@1x.png"
                        srcset="./img/modal-shop/apple-books@1x.png, ./img/modal-shop/apple-books@2x.png"
                        alt="link to apple books" /></a>
            </div>
        </div>
        <button class="popup-btn-add-remove" type="button">Add to shopping list</button>
        <p class="popup-add-message">Congratulations! You have added the book to the shopping list.
            To delete, press the button "Remove from the shopping
            list".</p>
    </div>
</div>