<!-- <body> -->
<!-- Стоірнка з картками -->
<!-- <header class="header"></header>
    <main class="shopping-main">
      <container class="shopping-container container">
        <section class="shopping-section section">
          <article class="shopping-article"></article>
          <div class="shopping-wrap">
            <h1 class="shopping-titile">
              Shopping <span class="shopping-title-span">List</span>
            </h1> -->
<ul class="shopping-list"></ul>
<!-- </div>
        </section>
      </container> -->
<!-- Пуста сторінка -->
<!-- <header class="header"></header>
    <main class="shopping-main">
      <container class="shopping-container container">

      </container>
    </main>
    <div class="pagination-wrapper" data-aos="zoom-in">
      <div id="pagination" class="tui-pagination hide"></div>
    </div> -->
<!-- </body>
  <script type="module" src="../js/partials/shopping-list.js"></script>
</html> -->