<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/shopping.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Page 2</title>
  </head>
  <body>
    <header class="header"></header>
    <main class="shopping-main">
      <container class="shopping-container container">
        <section class="shopping-section section">
          <article class="shopping-article"></article>
          <div class="shopping-wrap">
            <h1 class="shopping-titile">
              Shopping <span class="shopping-title-span">List</span>
            </h1>
            <ul class="shopping-list"></ul>
          </div>
        </section>
      </container>
    </main>
    <div class="pagination-wrapper" data-aos="zoom-in">
      <div id="pagination" class="tui-pagination hide"></div>
    </div>
  </body>
  <script type="module" src="../js/partials/shopping-list.js"></script>
</html>
