<!-- Roman -->
<!-- Блок "Support Ukraine" -->
<div class="support-ukraine">
    <h2 class="color-support">Support Ukraine</h2>
    <!-- Список елементів -->
    <ul class="support-list">
        <li class="li-support highlighted">01 Save the Children</li>
        <li class="li-support">02 project HOPE</li>
        <li class="li-support">03 Intennational Medical Corps</li>
        <li class="li-support">04 RAZOM</li>
        <li class="li-support">05 ACTION AGAINST HUNGER</li>
        <li class="li-support">06 CHARITY FOUNDATION SERGIY PRYTULA</li>
        <li class="li-support">07 MEDECINS SANS FRONTIERES</li>
        <li class="li-support">08 World Vision</li>
        <li class="li-support">09 UNITEN24</li>
    </ul>
    <button id="scrollButton">Scroll Down</button>
</div>