<div class="support-wrapper">
    <div class="support-container">
      <div class="title-icon">
        <h3 class="support-title">Support Ukraine</h3>
        <svg
          class="support-icon"
          width="20"
          height="32"
          aria-label="Ukraine emblem"
        >
          <use href="../img/icons.svg#icon-trident"></use>
        </svg>
      </div>
  
      <div class="supprot-list-container">
        <ul class="support-list" id="support-list"></ul>
      </div>
    </div>
    <button
      class="scroll-button"
      type="button"
      id="scroll-btn"
      aria-label="Slider button"
    >
      <svg
        class="support-btn-icon"
        width="14"
        height="14"
        aria-label="Slider icon"
      >
        <use href="../img/icons.svg#icon-arrow_down"></use>
      </svg>
    </button>
  </div>