body {
  background-color: var(--light-theme-bg-cl);
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1440px) {
  .section {
    flex-direction: row;
  }
}
/* Mobile devices styles */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 335px;
  margin: 0 auto;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    gap: 32px;
    min-width: 704px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    gap: 86px;
    float: left;
    min-width: 356px;
  }
}
