body {
  background-color: var(--light-theme-bg-cl);
  font-family: 'DM Sans', sans-serif;
  /* margin: 0 auto; */
}


.wrapper{
  display: flex;
  flex-wrap: nowrap;
  max-width: 375px;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 40px;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .wrapper{
    max-width: 768px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between; 
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper{
    max-width: 1440px;
    flex-direction: row;
    gap: 40px;
    padding: 0 24px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 335px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    gap: 32px;    
    margin-bottom: 98px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    gap: 86px;
    min-width: 356px;
    max-width: 356px;
    margin-bottom: 0;
  }
}

/* Mobile devices styles */
.section {
  display: flex;
}

.container {
  width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
