body {
  background-color: var(--light-theme-bg-cl);
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1440px) {
  .section {
    flex-direction: row;
  }
}
/* Mobile devices styles */


.gl-sidebar {
  max-width: 335px;
  outline: 1px solid red;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .gl-sidebar {
    max-width: 704px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .gl-sidebar {
    max-width: 376px;
    padding-right: 20px;
  }
}
