/* fonts style */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.ttf') format('truetype'),
         url('../fonts/DMSans-Bold.woff') format('woff'),
         url('../fonts/DMSans-Bold.woff2') format('woff2');
         font-weight: bold;
         font-style: normal;
         font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic.ttf') format('truetype'),
         url('../fonts/DMSans-Italic.woff') format('woff'),
         url('../fonts/DMSans-Italic.woff2') format('woff2');
         font-weight: normal;
         font-style: italic;
         font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype'),
         url('../fonts/DMSans-Medium.woff') format('woff'),
         url('../fonts/DMSans-Medium.woff2') format('woff2');
         font-weight: medium;
         font-style: normal;
         font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype'),
         url('../fonts/DMSans-Regular.woff') format('woff'),
         url('../fonts/DMSans-Regular.woff2') format('woff2');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}
