/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('reset.css');
/* partials styles */
@import url('./common.css');
@import url('./partials/header.css');
@import url('./partials/categories.css');
@import url('./partials/support.css');
@import url('./partials/books-list.css');
@import url('./partials/book-card-popup.css');
@import url('./partials/scroll-up.css');
@import url('./partials/sign-in.css');

:root {
  /* Colors */
  --light-theme-bg-cl: #f6f6f6;
  --dark-theme-bg-cl: #202024;
  --logo-text-light-theme-cl: #000000;
  --logo-text-dark-theme-cl: #f3f3f3;
  --white-cl: #ffffff;
  --black-cl: #111111;
  --violet-cl: #4f2ee8;
  --yellow-cl: #eac645;
  --gray-cl: #b4afaf;
  --book-list-light-theme-cl: rgba(17, 17, 17, 0.6);
  --book-list-dark-theme-cl: rgba(255, 255, 255, 0.6);
  --shopping-list-border: 2px solid rgba(79, 46, 232, 0.4);
  --support-Ukraine-bg: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  --support-Ukraine-box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  --scroll-up-accent: rgba(79, 46, 232, 0.3);
  --main-transition-function: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --accent: rgba(246, 246, 246, 0.50);
}
