@import '../../node_modules/modern-normalize/modern-normalize.css';
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul,
ol,
.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a,
.link {
  color: currentColor;
  /* font-style: normal; */
  text-decoration: none;
}
button,
.btn {
  font-family: inherit;
  cursor: pointer;
}
/* address {
  font-style: normal;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: inherit;
}
